@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #666666;
  line-height: 1.42;
  background: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

input[type=file] {
  display: none;
}


element {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.mainarea {

  width: 100vw;
  height: 100vh;

  &.hidden {
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }

  &.show {
    z-index: 1;
    opacity: 1;
    visibility: visible;
    overflow: visible
  }
}

.left {
  float: left;
  background: #17212B;
  height: 100%;
  width: 30%;
  /* position: absolute;
  left: 0;
  top: 0; */

}

.right {

  float: right;

  height: 100%;
  width: 70%;
  background: #0E1621;
  display: flex;
  flex-direction: column;

  /* position: absolute;
  right: 0;
  top: 0; */

}

.right__header {
  background: #17212B;
  height: 10%;
  width: 100%;
  border-left: 2px solid #0E1621;
  display: flex;

}

.right__chatArea {
  background: #0E1621;
  width: 100%;
  height: 80%;
  padding: 15px;
}

.user-list-header {
  margin-left: 22px;

}

.user-list {
  padding: 15px;
}

.currentUser__nickname {
  margin-left: 20px;
  display: flex;
  align-items: center;
  color: #5387C1;
}

.left__currentUser {
  padding: 40px 15px;
  display: flex;
}

.chat {
  padding: 40px 15px;
}

.chat__item {
  display: flex;
  margin-bottom: 20px;
}

.chat__txtBlock {
  margin-left: 20px;
}

.chat__nickname {
  font-weight: 500;
  color: #5387C1;
}

.right__messageArea {
  background: #17212B;
  border-left: 2px solid #0E1621;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right__form {
  background: #17212B;

}

.right_controls {
  padding-left: 15px;
}

.right__input {
  float: left;
  margin-right: 15px;
  border: none;
  border-radius: 5px;
  width: 80%;
  font-weight: 300;
  color: #5B6774;
  padding: 20px;
  outline: 0;
  background: #17212B;
}

.right__submit {
  float: left;
  width: 112px;
  height: 28px;
  background: #5387C1;
  border: none;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 18px;
  margin-right: 10px;

}


.right__title {
  font-weight: 300;
  font-size: 14px;
  margin-left: 16px;
  margin-top: 16px;
  color: #fff;
}

.right__members {
  color: #7F91A4;
  font-size: 12px;
}



.left__menu-btn {
  margin-top: 22px;
  margin-left: 22px;
  height: 12px;
  width: 18px;
  //margin-bottom: 45px;
  background: url(./images/menubtn.png) center center / cover no-repeat;
  cursor: pointer;

}

.menuBtn {
  height: 12px;
  width: 18px;

}

.avatar-block__closeBtn {
  height: 16px;
  width: 16px;
  position: absolute;
  left: 92%;
  top: 7%;

}

.avatar-block {
  width: 364px;
  height: 220px;
  background: #17212B;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  ;

  &.hidden {
    display: none;
  }

  &.show {
    display: block;
  }
}

.avatar-block__title {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  padding: 35px 32px;
}

.avatar-block__upload {
  padding: 0 39px;
  display: flex;
  align-items: center;
}

.avatar-block__uploadCircle {
  width: 86px;
  height: 86px;
  position: relative;
  background: #232F3D;
  border-radius: 50%;
  overflow: hidden;
  display: inline-flex;
  margin-right: 15px;
  cursor: pointer;
}

.avatar-block--photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.avatar-block__username {
  font-weight: 500;
  font-size: 18px;
  display: inline-flex;
}

.closeBtn {
  height: 16px;
  width: 16px;

}

.auth {
  width: 452px;
  height: 497px;
  background: #17212B;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;

  &.hidden {
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }

  &.show {
    z-index: 1;
    opacity: 1;
    visibility: visible;
    overflow: visible
  }
}

.auth__image-wrapper {
  width: 139px;
  height: 139px;
  position: relative;
  background: #232F3D;
  border-radius: 50%;
  overflow: hidden;
  display: inline-flex;
  margin-top: 39px;
  margin-bottom: 29px;


}

.auth-icon {
  background: url(./images/blob.png) center center / cover no-repeat;
}

.auth__title {
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.auth__instruction {
  font-weight: 400;
  font-size: 16px;
  color:
    #7F91A4;
  margin-bottom: 37px;
}

.auth__form-input {
  background: #17212B;
  color: #858F98;
  border: none;
  border-bottom: 1px solid #465461;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 56px;
  width: 298px;
  overflow: visible;
  padding-bottom: 13px;

}

.auth__form-input:focus {

  outline: none;
}

/* .auth__icon-wrapper {
  width: 85px;
  height: 65px;
  fill: #5188C0;
} */

.photo-icon {
  width: 85px;
  height: 65px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #5188C0;
}

.auth__btn {
  width: 132px;
  height: 43px;
  background:
    #5188C1;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 15;
  text-transform: uppercase;
  border-radius: 5px;
  border: transparent;
  cursor: pointer;
}

.chat__profilePhoto {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  overflow: hidden;

}

.profilePhoto__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

.currentUser__avatar {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-cut {
  background: #17212B;
  width: 364px;
  height: 452px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  padding: 40px 33px;

  &.hidden {
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }

  &.show {
    z-index: 1;
    opacity: 1;
    visibility: visible;
    overflow: visible
  }

}

.avatar-cut__area {
  width: 284px;
  height: 308px;
}

.avatar-cut__instruction {
  font-weight: 300;
  font-size: 14px;
  color: #7F91A4;
  margin-bottom: 23px;
}

.avatar-cut__cancelBtn {
  color: #6BB2F2;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  border: transparent;
  background: transparent;
  cursor: pointer;
  margin-right: 20px;
}

.avatar-cut__saveBtn {
  color: #6BB2F2;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  background: #1D2A3A;
  border: transparent;
  border-radius: 2px;
  width: 110px;
  height: 36px;
  cursor: pointer;
}

.avatar-cut__buttons {
  align-self: flex-end;
}